body, html {
    margin: 0; /*supprime les marges sur les coté */
    padding: 0; /*supprime les marges en haut et en bas */
    }


    /*Spécifique au bandeau principal */
    .bandeau_entête {
        width: 100%;  /* Largeur totale */
        height: 100px; /* Hauteur du bandeau (modifiable) */
        background-color: rgb(0, 0, 126); /* Couleur du fond */
        color: orange; /* Couleur du texte */
        display: flex; /* Active le flexbox */
        align-items: center; /* Centre verticalement */
        justify-content: center; /* Centre horizontalement */
        font-size: 22px; /* Taille du texte */
    }

    /* Spécifique au texte BREAKING NEWS */
    .Photo_Equipe h1{
    color: orange;
    }


    /* Ajouter une image en arrière-plan pour le corps de la page */
    body {
    background: linear-gradient(45deg, #7e7d7d, #beb5b5); /* Dégradé */
    }


                                        /*CATHEGORIE SUIVANTE/*


    /*Spécifique au bandeau avec le menu à l'interieur */
    .bandeau {
        background-color: rgb(0, 0, 126) ; /* Couleur du fond */
        display: flex; /* Active Flexbox */
        align-items: center; /* Centre verticalement */
        width: 100%;  /* Largeur totale */
        height: 150px; /* Hauteur du bandeau (modifiable) */
    }


    /*Spécifique au logo du bandeau */
    .logo {
        display: flex; /* Active Flexbox */
        margin-top: -10px; /* Décale le menu vers le bas */
        margin-left: 40px; /* Marge à gauche */
    }

    /* Spécifique à la barre de navigation */
    .les_menus {
        display: flex; /* Active le flexbox */
        justify-content: center; /* Centre horizontalement les éléments du menu */
        font-size: 20px; /* Taille du texte */
        margin-left: 200px; /* Marge à gauche */
    }

    /* Spécifique à chaque élément du menu */
    .nav-item {
        margin-right: 20px; /* Espacement entre les éléments du menu */
    }

    /* Spécifique à la barre de navigation */
    .navbar-nav .nav-link {
        color: orange; /* Change la couleur du texte des liens de navigation */
    }

    /* Spécifique à la barre de navigation au survol */
    .navbar-nav .nav-link:hover {
        color: red; /* Change la couleur du texte des liens de navigation au survol */
    }


                                        /*CATHEGORIE SUIVANTE/*


    /*Spécifique Bandeau qui défile */
    .bandeau_défile {
    height: 50px; /* Hauteur du bandeau (modifiable) */
    background-color: #333333; /* Couleur du fond */
    color: orange; /* Couleur du texte */
    display: flex; /* Active le flexbox */
    align-items: center; /* Centre verticalement */
    font-family: 'Arial', sans-serif; /* Type de police */
    font-weight: bold; /* Texte en gras */
    margin-left: 40px; /* Marge à gauche */
    margin-right: 40px; /* Marge à droite */
    margin-top: 20px; /* Décale le menu vers le bas */
    padding-left: 40px; /* Décale le texte à 40px du bord gauche du bandeau */
    }


    /* Spécifique au texte BREAKING NEWS */
    .bandeau_défile h2 {
    font-weight: bold; /* Met le texte en gras */
    font-size: 25px; /* Taille du texte */
    margin-top: 8px; /* Décale le menu vers le bas */
    }


    /*Spécifique symbole du Bandeau qui défile */
    .symbole {
        margin-left: 10px; /* Marge à gauche */
    }


    /*Spécifique à la zone avec le texte défile */
    .zone-texte {
    width: 1130px;  /* Largeur fixe de 1800 pixels */
    height: 30px;  /* Hauteur fixe de 30 pixels */
    overflow: hidden; /* Cache le texte qui dépasse */ 
    }


    /*Spécifique au texte qui défile */
    .defilant {
        white-space: nowrap; /* Empêche le texte de revenir à la ligne */
        animation: defilement 30s linear infinite; /* Animation/Durée du texte */
        font-size: 16px; /* Taille du texte */
        margin-top: 4px; /* Décale le menu vers le bas */
        width: max-content; /* Ajuste automatiquement à la taille du contenu */
    }


    /*Spécifique au lien du texte */
    .defilant a { 
        color: orange; /* Change la couleur des liens */
        text-decoration: none; /* Enlève le soulignement des liens */
        margin-right: 110px; /* espacement entre les liens */
    }

    .bandeau_défile a:hover {
        color: yellow;
        font-size: 17px;
    }

    /*Spécifique à l'orientation du défilement du texte  */
    @keyframes defilement {
       0% {
            transform: translateX(100%); /* Commence à droite */
        }
        100% {
            transform: translateX(-100%); /* Termine à gauche */
        }
    }

    
                                        /*CATHEGORIE SUIVANTE/*


    /* Container du Carousel */
    .carousel-container {
        width: 40% ;
        margin: 30px auto; /* Marge de 20px en haut et en bas et centré horizontalement */
        overflow: hidden; /* Cache les éléments qui dépassent */
        position: relative; /* Position relative */
        border-radius: 10px; /* Coins arrondis */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
    
    /* Conteneur des slides */
    .carousel-slide_Global {
        display: flex; /* Active le flexbox */
        animation: slideAnimation 30s linear infinite; /* Durée totale de l'animation */
    }
    
    /* Chaque slide */
    .carousel-slide {
        min-width: 100%; /* Largeur Image */
        box-sizing: border-box; /* Inclut les bordures et les marges dans la largeur */
    }
  
    /* Animation de défilement automatique */
    .carousel-slide img {
        width: 100%; /* Espace occupé dans le cadre */
        height: auto; /* Hauteur automatique */
        border-radius: 10px; /* Coins arrondis */
    }
    
    
    /* Animation de défilement automatique */
    @keyframes slideAnimation {
        0%, 20% { transform: translateX(0); }      /* Image 1 affichée */
        25%, 40% { transform: translateX(-100%); } /* Image 2 affichée */
        45%, 60% { transform: translateX(-200%); } /* Image 3 affichée */
        65%, 80% { transform: translateX(-300%); } /* Image 4 affichée */
        85%, 100% { transform: translateX(-400%); } /* Image 5 affichée */
    }

   
    

    
    .Photo_Equipe {
        width: 80%;
        margin: 20px auto;
        margin-top: 80px;
        margin-bottom: 50px; /* Marge en bas */ 
    }
    
    h1 {
        color: rgb(0, 0, 0);
    }
    
    .team {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 80px; /* Espacement entre les éléments */
    }
    
    /* ✅ Agrandissement des cadres */
    .employee {
        background:  rgb(1, 1, 162);
        padding: 30px; /* Espace intérieur */
        border-radius: 15px; /* Coins arrondis */
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
        text-align: center; /* Centrage du texte */
        margin-top: 30px;
        width: 300px; /* Plus large */
        transition: transform 0.3s ease-in-out; /* Transition fluide */
    }
     /* ✅ Agrandissement des cadres */
    .employee:hover {
        transform: scale(1.10); /* Agrandissement au survol */
    }
    
    /* ✅ Agrandissement des photos */
    .photo {
        width: 170px; /* Augmentation de la taille */
        height: 170px; /* Augmentation de la taille */
        border-radius: 70%; /* Forme ronde */
        overflow: hidden; /* Cache les éléments qui dépassent */
        border: 5px solid orange; /* Bordure orange */
        margin: 0 auto 15px; /* Marge en bas */
    }
    
    /* ✅ Agrandissement des photos */
    .photo img {
        width: 100%; /* Remplissage complet */
        height: 100%; /* Remplissage complet */
        object-fit: cover; /* Remplissage complet */
    }
    
    /* Taille des Nom */
    h3 {
        margin: 10px 0 5px; /* Marge en bas */
        color: orange; /* Couleur orange */
        font-size: 18px; /* Taille du texte */
    }
    
    /* Changer la couleur des liens */
    .employee a {
        color: red; /* Couleur rouge */
        font-size: 18px; /* Taille du texte */
        display: block ; /*pour affiché le sous menu en block: Comme une liste*/
    }

    /* Optionnel : Changer la couleur des liens au survol */
    .employee a:hover {
        color: yellow; /* Couleur jaune */
        font-size: 20px; /* Taille du texte */
       }
